header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    width: 100%;
    margin: auto;
}

article {
    border-bottom: 3px solid black;
    margin-bottom: 25px;
}

@media only screen and (min-width: 620px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    
    main {
        display: flex;
        flex-wrap: wrap;
    }

    article  {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    main {
        flex-wrap: nowrap;
    }
}