body {
    background-color: seagreen;
}

h1 {
    background-color: seashell;
}

p {
    background-color: slateblue;
    color: cornsilk;
}

span {
    color: blue;
    background-color: coral;
}

a {
    text-decoration: none;
    background-color: darkmagenta;
}

a:hover {
    background-color: green;
    transition: 1s;
}