* {
    scroll-behavior: smooth;
    margin: 0;
}

.header-container {
    background-color: purple;
    text-align: center;
}

.logo {
    width: 100%;
    margin: 0;
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: khaki;
    padding: 1%;
}

.navbar a {
    padding: 1%;
    padding-right: 3%;
    padding-left: 3%;
    text-decoration: none;
}

.navbar a:hover {
    color: red;
    background-color: royalblue;
    transition: 2s;
}

body {
    background-color: black;
}

h2 {
    padding: 2%;
}

p {
    padding: 2%;
}

.main-container {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}

.main-article {
    display: flex;
    padding: 1%;
    min-height: 60vh;
}

.main-para {
    padding: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-1 {
    width: 30%;
    max-height: 70%;
    border-radius: 35%;
    border-style: dotted;
}

.about-section {
    background-color: green;
    width: 100%;
}

.second-article {
    display: flex;
    width: 100%;
}

.second-article article {
    padding: 2%;
    border-radius: 10%;
    border: 5px solid black
}

.second-article h2 {
    text-align: center;
}

article:nth-child(even) {
    background-color: darkseagreen;
}

.contact-container {
    background-color: cornflowerblue;
    min-height: 40vh;
    display: flex;  
    justify-content: center;
    padding: 5%
}

/* .contact-wrapper {

} */

#firstName {
    border-radius: 5px;
}

#lastName {
    border-radius: 5px;
}

#submitButton {
    padding: 16px;
    font-weight: 900;
    color: black;
    background-color: lightblue;
    border-radius: 20px;
}

#submitButton:hover {
    color: white;
    background-color: red;
    transition: 1s;
}

#messageArea {
    border-radius: 5px;
    font-weight: 600;
}

.footer-section {
    background-color: red;
}