/* General */
header {
    text-align: center;
}

main {
    padding: 0 3%;
}

.pSmall {
    padding: 1%;
}

.alignCenter {
    text-align: center;
}

.imgSize {
    width: 30%;
}

/* Article */
.article1 {
    display: flex;
    padding: 2%;
}

.article-wrapper {
    padding: 2% 5%;
}

article:nth-child(2) {
    flex-direction: row-reverse;
}
