main {
    padding: 1px;
}

article {
    width: 100%;
    padding: 5%;
    display: flex;
}

article img {
    width: 50%;
    padding: 1%;
}

article div div{
    display: flex;
}

section {
    height: 200px;
    background-image: url("img/medium-bild.jpg  ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 2rem;
    color: aqua;
}